# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = Dachshund_Crawler.settings

[deploy]
url = http://13.209.230.132:8080/
project = Dachshund_Crawler
